<a href="https://colab.research.google.com/github/chantiasNK26768/data-science-visualization/blob/main/EXP1_Pandas_Categorical_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EXPERIMENT 1 – Pandas Categorical Data

**USN:** VTU26768  

## Aim:
a) To create and analyze ordered categorical data using Pandas.  
b) To create a DataFrame and study its statistical properties.

**Tools Used:**
- Python
- Pandas
- NumPy
---

EXPERIMENT 1(a): Ordered Categorical Data

*Cell 1 – Import Library & Input Data*

In [1]:
# Importing the required library
import pandas as pd

# List of months
months = ["March", "April", "January", "December", "February",
          "September", "August", "May", "June", "July",
          "October", "November", "March", "April", "January", "December"]

print("VTU26768 - OUTPUT SUMMARY OF EXP1a")
print("Original Months:")
months

VTU26768 - OUTPUT SUMMARY OF EXP1a
Original Months:

['March',
 'April',
 'January',
 'December',
 'February',
 'September',
 'August',
 'May',
 'June',
 'July',
 'October',
 'November',
 'March',
 'April',
 'January',
 'December']

*Cell 2 – Create Ordered Categorical Variable*

In [2]:
# Create ordered categorical data
ordered_months = pd.Categorical(
    months,
    categories=["January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December"],
    ordered=True
)

print("Ordered Months:")
ordered_months

Ordered Months:

['March', 'April', 'January', 'December', 'February', ..., 'November', 'March', 'April', 'January', 'December']
Length: 16
Categories (12, object): ['January' < 'February' < 'March' < 'April' ... 'September' < 'October' <
                          'November' < 'December']

*Cell 3 – Frequency Table*

In [3]:
# Compute frequency table
print("Value Counts:")
month_counts = pd.Series(ordered_months).value_counts().sort_index()
month_counts

Value Counts:

January      2
February     1
March        2
April        2
May          1
June         1
July         1
August       1
September    1
October      1
November     1
December     2
Name: count, dtype: int64

EXP-1(a) Conclusion (Markdown)

### Conclusion:
Ordered categorical variables help in maintaining logical order.
Frequency tables help in understanding the distribution of data.

EXPERIMENT 1(b): DataFrame & Statistical Analysis

*Cell 4 – Import Libraries & Create DataFrame*

In [4]:
# Importing required libraries
import pandas as pd
import numpy as np

# Create DataFrame
table = {
    "names": pd.Categorical(["chanti", "Nagendra", "kondra", "siva", "vishnu",
                             "jayaprakash", "sasi", "naveen", "kishan", "Shannu"]),
    "Age": np.random.randint(15, 50, size=10),
    "Salary": np.random.normal(50000, 10000, size=10),
    "Categories": pd.Categorical(["HR", "IT", "Finance", "IT", "Marketing",
                                  "IT", "Finance", "IT", "Marketing", "Finance"])
}

dataframe = pd.DataFrame(table)

print("VTU26768 - OUTPUT SUMMARY OF EXP1b")
print("DataFrame:")
dataframe

VTU26768 - OUTPUT SUMMARY OF EXP1b
DataFrame:

         names  Age        Salary Categories
0       chanti   39  42189.644545         HR
1     Nagendra   15  42262.684896         IT
2       kondra   25  43388.484682    Finance
3         siva   31  41140.394882         IT
4       vishnu   22  34722.017894  Marketing
5  jayaprakash   28  67604.210122         IT
6         sasi   36  38750.106877    Finance
7       naveen   34  53513.211002         IT
8       kishan   15  56173.545984  Marketing
9       Shannu   35  44161.748062    Finance

*Cell 5 – Statistical Summary*

In [5]:
# Statistical summary
print("Statistical Summary:")
dataframe.describe(include='all')

Statistical Summary:

           names        Age        Salary Categories
count         10  10.000000     10.000000         10
unique        10        NaN           NaN          4
top     Nagendra        NaN           NaN         IT
freq           1        NaN           NaN          4
mean         NaN  28.000000  46390.604895        NaN
std          NaN   8.576454   9816.203489        NaN
min          NaN  15.000000  34722.017894        NaN
25%          NaN  22.750000  41402.707297        NaN
50%          NaN  29.500000  42825.584789        NaN
75%          NaN  34.750000  51175.345267        NaN
max          NaN  39.000000  67604.210122        NaN


*Cell 6 – Data Types*

In [6]:
# Display datatypes
print("Datatypes of the table:")
dataframe.dtypes

Datatypes of the table:

names         category
Age              int64
Salary         float64
Categories    category
dtype: object

*Cell 7 – DataFrame Information*

In [7]:
# Display DataFrame info
print("Information about the table:")
dataframe.info()

Information about the table:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   names       10 non-null     category
 1   Age         10 non-null     int64
 2   Salary      10 non-null     float64
 3   Categories  10 non-null     category
dtypes: category(2), float64(1), int64(1)
memory usage: 896.0 bytes

EXP-1(b) Conclusion (Markdown)
### Conclusion:
Pandas DataFrame functions like `describe()`, `dtypes`, and `info()`
help in understanding structure, statistics, and nature of the data.